#login-button[data-v-3c239dbd] {
    background: #0ff;
    border-color: #0ff
}

button[data-v-3c239dbd]:focus, input[data-v-3c239dbd]:focus {
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, .6);
    outline: none !important
}

#side-panel[data-v-3c239dbd] {
    background: #eff1f6;
    min-height: 50vh
}

@media (min-width: 576px) {
    #content-box[data-v-3c239dbd] { height: 100vh }
}

.drop-down-icon[data-v-61620d52] {
    border-bottom: 3px solid;
    border-left: 3px solid;
    display: inline-block;
    height: 10px;
    transform: rotate(-45deg);
    transition: .3s;
    width: 10px;
}

.collapsed .drop-down-icon[data-v-61620d52] { transform: rotate(45deg) }

.nav .nav[data-v-61620d52] { background-color: #efefef }

body { background: #f7f7f7 }

#dashboard-container { display: flex }

#sidebar {
    background: #fefefe;
    flex: 0 0 30%;
    min-height: 100vh;
}

#sidebar-nav .nav-link { color: #4f4f4f }

#content {
    flex: 1;
    padding: 1rem
}

#content-top-bar {
    align-items: center;
    background: #fefefe;
    border-radius: 2px;
    box-shadow: 0 0 3px 0 hsla(0, 0%, 53.3%, .5843137254901961);
    color: #4f4f4f;
    display: flex;
    font-size: 95%;
    padding: 5px;
    position: sticky;
    top: 1rem;
    z-index: 1050
}

[class^=aspect-] {
    display: block;
    overflow: hidden;
    position: relative;
    width: 100%;
}

[class^=aspect-] > * {
    bottom: 0;
    height: 100%;
    left: 0;
    position: absolute !important;
    right: 0;
    top: 0;
    width: 100%;
}

.aspect-100 { padding-top: 100% }

.panel {
    background: #fff;
    box-shadow: 3px 3px 5px 0 hsla(0, 0%, 53.3%, .5843137254901961);
    padding: 1rem;
}

.panel .title, .panel h1 {
    border-bottom: thin solid #888;
    font-size: 120%;
    font-weight: bolder;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

#notification-container {
    bottom: .3rem;
    display: flex;
    flex-direction: column-reverse;
    left: .3rem;
    max-height: 100vh;
    overflow-y: hidden;
    position: fixed;
    width: 250px;
    z-index: 9999999999
}

#notification-container .item {
    background: rgba(0, 0, 0, .5843137254901961);
    border-radius: 5px;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, .27058823529411763);
    color: #fff;
    margin-bottom: 5px;
}

#notification-container .text-justify { text-align: justify }

.cursor-pointer { cursor: pointer }

.tox.tox-tinymce.tox-fullscreen { z-index: 99999 !important }

:root { font-size: 11pt }

body { font-family: vazir, Tahoma, serif }

img {
    max-height: 100%;
    max-width: 100%;
}

a { text-decoration: none }

@font-face {
    font-family: vazir;
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/Vazir.385001fd.eot);
    src: url(../fonts/Vazir.385001fd.eot?#iefix) format("embedded-opentype"), url(../fonts/Vazir.5c7abcf1.woff) format("woff"), url(../fonts/Vazir.bed047da.ttf) format("truetype");
}