<!doctype html>
<html lang="ar" dir="rtl">
<head>
    <title>
        @if (ViewData["Title"] != null)
        {
            @( ViewData["Title"] + " - ")
        }
        دکتر علیرضا تعبدی
    </title>


    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="~/Resources/frameworks/bootstrap/css/bootstrap.rtl.min.css" rel="stylesheet" />
    <link href="~/Resources/style/fonts/fonts.css" rel="stylesheet" />
    <link href="~/Resources/style/StyleSheet.css" rel="stylesheet" />
    <link href="~/Resources/style/IndexPage.css" rel="stylesheet" />
    <link href="~/Resources/frameworks/fontawesome-free-5.15.4-web/css/all.min.css" rel="stylesheet" />

</head>
<body>


    <div class="min-vh-100 d-flex flex-column">

        @if (ViewBag.ShowMenu == null || ViewBag.ShowMenu == true)
        {
            <nav class="navbar navbar-expand-lg navbar-dark sticky-top" id="website-main-navigation">
                <div class="container-fluid">
                    <a class="navbar-brand d-flex align-items-center" href="/">
                        <div class="" style="width: 40px">
                            <div class="aspect-100 rounded-circle">
                                <img src="~/Resources/images/Doctor.png" class="img-cover" />
                            </div>
                        </div>
                        <div class="ms-1">دکتر علیرضا تعبدی</div>
                    </a>

                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link active" href="/#home-page">خانه</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="/#about-doctor">معرفی</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="/#clinics">مرکز فعالیت</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="/#contact-us">تماس با ما</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="/FAQ">سوالات متداول</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        }


        @RenderBody()


        <footer id="footer" class="text-secondary mt-auto">

            <div class="container mt-3">

                <div class="row">

                    <div class="col-sm text-center text-sm-start">

                        <h1>دکتر علیرضا تعبدی</h1>
                        <p>
                            ارتوپد- استاد دانشگاه
                            فلوشیپ دست و جراحی شانه و آرنج
                        </p>
                    </div>

                    <div class="col-sm my-3 my-sm-0">

                        <ul class="mt-3 nav justify-content-center" dir="ltr" id="clinic-socials">

                            <li class="nav-item">
                                <a class="nav-link text-secondary" href="https://www.instagram.com/Dr.alireza.taabbodi/">
                                    <img src="~/Resources/images/icons/socials/6214515_instagram_logo.svg" class="social-icon" />
                                </a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link text-secondary" href="https://www.instagram.com/Dr.alireza.taabbodi/">
                                    <img src="~/Resources/images/icons/socials/6214511_logo_facebook.svg" class="social-icon" />
                                </a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link text-secondary" href="https://www.instagram.com/Dr.alireza.taabbodi/">
                                    <img src="~/Resources/images/icons/socials/6214504_air_telegram_paper_logo_airplane_plane.svg" class="social-icon" />
                                </a>
                            </li>

                        </ul>

                    </div>

                    <div class="col-sm">

                        <p class="text-center text-sm-start">
                            کرج،
                            روبروی بیمارستان مدنی، خیابان مهران، ساختمان جهانشهر ، بالای املاک خانه ما، طبقه 4، واحد9
                        </p>

                        <ul class="mt-3 nav">

                            <li class="nav-item">
                                <a class="nav-link text-light" href="tel:09130066156">
                                    <span class="fa fa-mobile-alt me-2"></span>
                                    ۰۹۱۳-۰۰۶-۶۱۵۶
                                </a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link text-light" href="tel:02634419581">
                                    <span class="fa fa-phone-alt me-2"></span>
                                    ۰۲۶-۳۴۴۱۹۵۸۱
                                </a>
                            </li>

                        </ul>

                    </div>

                </div>

            </div>

        </footer>
    </div>



    <script src="~/Resources/frameworks/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/Resources/frameworks/jquery-3.6.0.min.js"></script>
    <script src="~/Resources/frameworks/vue.min.js"></script>


    @RenderSection("scripts", false)

</body>
</html>
