@font-face {
    font-family: 'IRANSANS';
    src: url('IRANSansWeb.ttf');
    src: url('IRANSansWeb.ttf') format('truetype');
    font-weight:normal;
    font-style:normal;
}

@font-face {
    font-family: 'IRANSANS-B';
    src: url('IRANSansWeb_Bold.ttf');
    src: url('IRANSansWeb_Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
