:root { font-size: 11pt }

body {
    color: #444;
    font-family: vazir, serif;
    scroll-behavior: smooth;
}

img {
    max-height: 100%;
    max-width: 100%;
}

[class^=icon-] {
    display: inline-block;
    height: 1em;
    vertical-align: middle;
    width: 1em;
}

.icon-telegram {
    background: url("/resources/images/icons/telegram.svg") no-repeat center;
    background-size: cover
}

.icon-instagram {
    background: url("/resources/images/icons/instagram.svg") no-repeat center;
    background-size: cover
}

.icon-twitter {
    background: url("/resources/images/icons/twitter.svg") no-repeat center;
    background-size: cover
}

.icon-whatsapp {
    background: url("/resources/images/icons/whatsapp.svg") no-repeat center;
    background-size: cover
}

.text-justify { text-align: justify }

.text-last-center { text-align-last: center }

.abs-fill {
    bottom: 0;
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
}

[class^=aspect-] {
    display: block;
    overflow: hidden;
    position: relative;
    width: 100%;
}

[class^=aspect-] > * {
    bottom: 0;
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
}

.aspect-100 { padding-top: 100% }

.aspect-70 { padding-top: 70% }

.aspect-30 { padding-top: 30% }

.img-cover {
    object-fit: cover;
    object-position: center
}

.img-fill {
    object-fit: fill;
    object-position: center
}

.img-contain {
    object-fit: contain;
    object-position: center
}

.hide-scroll, .horizontal-slider .items-container {
    -ms-overflow-style: none;
    scrollbar-width: none
}

.hide-scroll::-webkit-scrollbar, .horizontal-slider .items-container::-webkit-scrollbar { display: none }

.text-inherit { color: inherit }

.horizontal-slider { position: relative }

.horizontal-slider .items-container {
    display: flex;
    flex-wrap: nowrap;
    overflow-y: auto;
    scroll-behavior: smooth
}

.horizontal-slider .items-container .item {
    display: block;
    flex: 0 0 25%;
    padding: 5px
}

.horizontal-slider .controller {
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 0 3px 0 #00000039;
    cursor: pointer;
    height: 50px;
    position: absolute;
    top: calc(50% - 25px);
    width: 50px;
}

.horizontal-slider .controller.left { left: -25px }

.horizontal-slider .controller.right { right: -25px }

.horizontal-slider .controller * { pointer-events: none }

@media (max-width: 576px) {
    .horizontal-slider .items-container .item { flex: 0 0 100% }

    .horizontal-slider .controller { display: none !important }
}

#header {
    background: #efefef;
    color: #8d8d8d;
    font-size: .9rem
}

#header .nav-link {
    color: #8d8d8d;
    padding: .4rem;
    text-decoration: none;
}

#header .nav-link.icon-container {
    filter: grayscale(70%);
    font-size: 1.1rem;
    padding: .4rem .2rem;
    transition: 200ms
}

#header .nav-link.icon-container:hover { filter: none }

#header .nav-item.active .nav-link { color: #52abfb }

#header hr {
    background: #e2e2e2;
    opacity: 1
}

#header #website-title { text-decoration: none }

#header #website-title h1 {
    color: #3a537b;
    font-size: 1.7rem;
}

#header #website-title p {
    color: #52abfb;
    font-size: .8rem;
}

.text-blue { color: #52abfb }

.bg-blue { background-color: #52abfb }

.border-blue { border-color: #52abfb }

.text-dark-blue { color: #033e73 }

.bg-dark-blue { background-color: #033e73 }

.border-dark-blue { border-color: #033e73 }

.text-gray { color: #8d8d8d }

.bg-gray { background-color: #8d8d8d }

.border-gray { border-color: #8d8d8d }

.text-light-gray { color: #efefef }

.bg-light-gray { background-color: #efefef }

.border-light-gray { border-color: #efefef }

.text-dark-gray { color: #444 }

.bg-dark-gray { background-color: #444 }

.border-dark-gray { border-color: #444 }

#services > div {
    color: #fff;
    padding: 10px;
}

#services > div:nth-child(odd) { background-color: #6bb7fc }

#services > div:nth-child(even) { background-color: #52abfb }

#footer {
    background: linear-gradient(#29343f, #033e73);
    color: #fff;
    font-size: .97rem !important;
}

#footer .footer-social-navs .nav-link { padding: .5rem }

#footer .footer-social-navs [class^=icon-] {
    height: 1.3rem;
    width: 1.3rem;
}

@media (min-width: 576px) {
    #services {
        margin-top: -50px;
        position: relative
    }

    #services > div:nth-child(odd) {
        background-color: #6bb7fc;
        transform: skewY(-2deg);
    }

    #services > div:nth-child(even) {
        background-color: #52abfb;
        transform: skewY(2deg);
    }
}/*# sourceMappingURL=template.css.map */