$blue: #52ABFB;
$dark-blue: #033e73;
$gray: #8D8D8D;
$dark-gray: #444444;
$light-gray: #EFEFEF;

$theme-colors: (
        'blue': $blue,
        'dark-blue': $dark-blue,
        'gray' : $gray,
        'light-gray' :$light-gray,
        'dark-gray' : $dark-gray
);

:root {
  font-size: 11pt;
}

body {
  font-family: vazir, serif;
  scroll-behavior: smooth;
  color: $dark-gray
}

img {
  max-width: 100%;
  max-height: 100%;
}

//<editor-fold desc="Icons">
[class^='icon-'] {
  display: inline-block;
  width: 1em;
  height: 1em;
  vertical-align: middle;
}

.icon-telegram {
  background: url("/resources/images/icons/telegram.svg") no-repeat center;
  background-size: cover;
}

.icon-instagram {
  background: url("/resources/images/icons/instagram.svg") no-repeat center;
  background-size: cover;
}

.icon-twitter {
  background: url("/resources/images/icons/twitter.svg") no-repeat center;
  background-size: cover;
}

.icon-whatsapp {
  background: url("/resources/images/icons/whatsapp.svg") no-repeat center;
  background-size: cover;
}

//</editor-fold>

@import "classes";

#header {
  background: $light-gray;
  color: $gray;
  font-size: 0.9rem;

  .nav-link {
    text-decoration: none;
    padding: 0.4rem;
    color: $gray;
  }

  .nav-link.icon-container {
    padding: 0.4rem 0.2rem;
    font-size: 1.1rem;
    filter: grayscale(70%);
    transition: 200ms;

    &:hover {
      filter: none;
    }
  }

  .nav-item.active .nav-link {
    color: $blue;
  }

  hr {
    background: #E2E2E2;
    opacity: 1;
  }

  #website-title {
    text-decoration: none;

    h1 {
      font-size: 1.7rem;
      color: #3A537B;
    }

    p {
      font-size: .8rem;
      color: $blue;
    }
  }
}


@each $name, $value in $theme-colors {
  .text-#{$name} {
    color: $value;
  }
  .bg-#{$name} {
    background-color: $value;
  }
  .border-#{$name} {
    border-color: $value;
  }
}

#services {
  & > div {
    padding: 10px;
    color: white;
  }

  & > div:nth-child(odd) {
    background-color: #6bb7fc;
  }

  & > div:nth-child(even) {
    background-color: #52ABFB;
  }
}

#footer {
  font-size: .97rem !important;
  color: white;
  background: linear-gradient(#29343f, #033e73);

  .footer-social-navs {
    .nav-link {
      padding: 0.5rem;
    }

    [class^='icon-'] {
      width: 1.3rem;
      height: 1.3rem;
    }
  }
}

@media (min-width: 576px) {
  #services {
    margin-top: -50px;
    position: relative;

    & > div:nth-child(odd) {
      transform: skewY(-2deg);
      background-color: #6bb7fc;
    }

    & > div:nth-child(even) {
      transform: skewY(2deg);
      background-color: #52ABFB;
    }
  }

}
