html {
    scroll-padding-top: 75px;
}

#main-navigation {
    height: 75px;
    color: #ffffff;
    background: #00000000;
    transition: linear 500ms;
    left: 0;
    right: 0;
    top: 0;
    z-index: 999;
    position: fixed;
    height: 75px;
    padding: 0px 15px;
    font-size: 0.8rem;
}

    #main-navigation.scrolled {
        background: #00000095;
    }

    #main-navigation .nav-link,
    #main-navigation a {
        color: white;
        /*text-shadow: 0 1px 1px #000000, 0 -2px 5px #000000, 0 1px 5px #ffffff, 1px 0 1px #1e90ff;*/
        border-bottom: thin solid transparent;
    }

        #main-navigation .nav-link:hover {
            color: #eeeeee;
            text-shadow: 0 0 2px #000000, 0 1px 2px #000000;
        }

        #main-navigation .nav-link.active {
            border-bottom: thin solid var(--bs-warning)
        }


.page {
    padding-top: 80px;
}


#home-page {
}


#about-doctor {
    background: #f1f1f1;
}


#clinics {
    /*   background: #cfe7ff url('/Resources/images/others/hospital.jpg') no-repeat center;
    background-size: cover;*/
}

#main-map-container {
    position: relative;
    width: 100%;
    padding-top: 60vh;
}

    #main-map-container * {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        width: 100%;
        height: 100%
    }

#clinic-info {
    position: relative;
    margin-top: -10vh;
    min-height: 25vh;
    background-color: white;
}

#clinic-socials .nav-link {
    padding: 5px;
}

.social-icon{
    filter: grayscale(87%);
    transition: 200ms;
    position:relative;
}

.social-icon::after{
    content : '';
    position:absolute;
    width: 10px;
    height: 7px;
    border-radius:50%;
    background : #00000029;
    bottom: -20px;
    left: 0;
    right: 0;
    margin: auto;
}

.social-icon:hover {
    filter:none;
}


@media (max-width: 576px){
    #clinic-info {
        width:auto;
        margin: 0 10px;
    }
}