@{
    Layout = null;
}
<!doctype html>
<html lang="ar" dir="rtl">
<head>
    <title>دکتر نال</title>


    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="~/Resources/frameworks/bootstrap/css/bootstrap.rtl.min.css" rel="stylesheet" />
    <link href="~/Resources/style/fonts/fonts.css" rel="stylesheet" />
    <link href="~/Resources/style/StyleSheet.css" rel="stylesheet" />
    <link href="~/Resources/style/IndexPage.css" rel="stylesheet" />
    <link href="~/Resources/frameworks/fontawesome-free-5.15.4-web/css/all.min.css" rel="stylesheet" />

</head>
<body>

    <div id="main-navigation" class="d-flex align-items-center">

        <div class="p-1 me-2 d-sm-none">
            <span class="fa fa-bars" style="font-size: 150%"></span>
        </div>


        <ul class="nav mx-auto d-none d-sm-flex">

            <li class="nav-item">
                <a class="nav-link active" href="#home-page">خانه</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="#about-doctor">معرفی پزشک</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="#clinics">مراکز فعالیت</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="#contact-us">تماس با ما</a>
            </li>

        </ul>

    </div>

    <div class="position-relative overflow-hidden" id="home-page" data-on-scroll-change style="height:80vh; margin-bottom: -60vh">
        <img src="~/Resources/images/slides/slide-1.jpg" class="w-100 h-100 img-cover" />
        <div class="position-absolute abs-fill" style="background:#00000099">
        </div>
    </div>


    <div id="biograpghy" class="position-relative container">

        <div class="row align-items-center mt-3 mx-auto" style="max-width: 750px">
            <div class="col-sm-4">
                <div class="aspect-100 rounded-circle" style="border:5px solid white">
                    <img src="~/Resources/images/Doctor.png" class="img-cover" />
                </div>
            </div>
            <div class="col-sm text-center text-sm-start">

                <h1 style="color: orange">
                    دکتر علیرضا تعبدی
                </h1>

                <div style="color:#efefef">
                    ارتوپد- استاد دانشگاه
                </div>

                <h3 class="text-justify mt-3" style="color:white">
                    فلوشیپ دست و جراحی شانه و آرنج
                </h3>

            </div>
        </div>


        <div class="mt-4 bg-white p-3 shadow-sm" style="min-height:30vh;">

            <h1 class="h4 text-center mt-4">
                خدمات قابل ارائه
            </h1>


            <div class="row justify-content-center mt-5" style="font-size: 0.9rem">


                <div class="col-sm-4 mb-2 text-center">

                    <div class="mx-auto" style="max-width: 130px">
                        <div class="aspect-60">
                            <img src="~/Resources/images/icons/tendon.png" class="img-contain" />
                        </div>
                    </div>

                    <div class="fw-bold mt-2" style="font-size:1.3rem">
                        جراحی تاندون، عصب و شکستگی‌ها
                    </div>

                    <div class="mt-2 text-muted text-justify text-last-center">
                        توضیحات دربار مورد ذکر شده
                        توضیحات دربار مورد ذکر شده
                        توضیحات دربار مورد ذکر شده
                        توضیحات دربار مورد ذکر شده
                    </div>
                </div>

                <div class="col-sm-4 mb-2 text-center">

                    <div class="mx-auto" style="max-width: 130px">
                        <div class="aspect-60">
                            <img src="~/Resources/images/icons/childs.png" class="img-contain" />
                        </div>
                    </div>

                    <div class="fw-bold mt-2" style="font-size:1.3rem">
                        بیماری‌های مادرزادی دست در اطفال
                    </div>

                    <div class="mt-2 text-muted text-justify text-last-center">
                        توضیحات دربار مورد ذکر شده
                        توضیحات دربار مورد ذکر شده
                        توضیحات دربار مورد ذکر شده
                        توضیحات دربار مورد ذکر شده
                    </div>
                </div>

                <div class="col-sm-4 mb-2 text-center">

                    <div class="mx-auto" style="max-width: 130px">
                        <div class="aspect-60">
                            <img src="~/Resources/images/icons/hand-surguery.png" class="img-contain" />
                        </div>
                    </div>

                    <div class="fw-bold mt-2" style="font-size:1.3rem">
                        فلوشیپ دست و میکروسرجری
                    </div>

                    <div class="mt-2 text-muted text-justify text-last-center">
                        توضیحات دربار مورد ذکر شده
                        توضیحات دربار مورد ذکر شده
                        توضیحات دربار مورد ذکر شده
                        توضیحات دربار مورد ذکر شده
                    </div>
                </div>

                <div class="col-sm-4 mb-2 text-center">

                    <div class="mx-auto" style="max-width: 130px">
                        <div class="aspect-60">
                            <img src="~/Resources/images/icons/shoulder.png" class="img-contain" />
                        </div>
                    </div>

                    <div class="fw-bold mt-2" style="font-size:1.3rem">
                        جراحی شانه و آرنج
                    </div>

                    <div class="mt-2 text-muted text-justify text-last-center">
                        توضیحات دربار مورد ذکر شده
                        توضیحات دربار مورد ذکر شده
                        توضیحات دربار مورد ذکر شده
                        توضیحات دربار مورد ذکر شده
                    </div>
                </div>

            </div>
        </div>

    </div>


    <div id="about-doctor" class="mt-4 min-vh-100 container pt-4" data-on-scroll-change>

        <div class="row">

            <div class="col-sm p-4 d-flex align-items-center justify-content-center">
                <div>
                    <img src="~/Resources/images/taabodi.png" class="shadow" />
                </div>
            </div>

            <div class="col-sm">

                <h1>
                    دکتر علیرضا تعبدی
                </h1>

                <div>
                    ارتوپد- استاد دانشگاه
                </div>

                <h3 class="text-justify mt-3">
                    فلوشیپ دست و جراحی شانه و آرنج
                </h3>

            </div>

        </div>

    </div>


    <div id="clinics" class="mt-4" data-on-scroll-change>

        <div class="min-vh-100 container page">
            <div class="row flex-row-reverse">

                <div class="col-md mb-3 align-self-center">

                    <div class="text-center rounded shadow-sm p-3" style="background:#ffffff99;">

                        <h3>بیمارستان امام خمینی (ره)</h3>

                        <p>
                            استان تهران تهران انتهای بلوار کشاورز
                        </p>


                        <h4>شماره تماس:</h4>

                        <div class="d-flex align-items-center justify-content-center flex-wrap">

                            <a href="tel:09123456789" class="p-1 m-1 badge bg-info text-decoration-none">
                                <span class="fa fa-phone"></span>
                                <span class="ms-1">09123456789</span>
                            </a>

                            <a href="tel:09123456789" class="p-1 m-1 badge bg-info text-decoration-none">
                                <span class="fa fa-phone"></span>
                                <span class="ms-1">09123456789</span>
                            </a>

                            <a href="tel:09123456789" class="p-1 m-1 badge bg-info text-decoration-none">
                                <span class="fa fa-phone"></span>
                                <span class="ms-1">09123456789</span>
                            </a>

                        </div>

                    </div>

                </div>

                <div class="col-md px-md-5">
                    <div class="aspect-100 bg-secondary rounded shadow border">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d8648.91784974064!2d51.37793620268106!3d35.70941460714078!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3f8e00dcf216968f%3A0xe37172252c0df8b0!2sImam%20Khomeini%20Hospital!5e0!3m2!1sen!2s!4v1629749201778!5m2!1sen!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                    </div>
                </div>

            </div>
        </div>

    </div>



    <div id="contact-us" data-on-scroll-change class="min-vh-100 container page">
        2
    </div>


    <footer class="container my-5">
        Footer of page
    </footer>



    <script src="~/Resources/frameworks/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/Resources/frameworks/jquery-3.6.0.min.js"></script>
    <script>
        const navbar = document.getElementById('main-navigation');
        const ChangeBorder = document.getElementById('biograpghy').offsetTop;


        window.addEventListener('scroll', function () {
            if (window.scrollY >= ChangeBorder && !navbar.classList.contains('scrolled'))
                navbar.classList.add('scrolled');
            if (window.scrollY < ChangeBorder && navbar.classList.contains('scrolled'))
                navbar.classList.remove('scrolled');


            $('[data-on-scroll-change]').each(function (indx, elm) {
                const offsetTop = elm.offsetTop - 77;
                const offsetBottom = elm.offsetTop + elm.offsetHeight - 77;

                if (window.scrollY >= offsetTop && offsetBottom > window.scrollY)
                    $(`.nav-link[href="#${elm.id}"]:not(.active)`).addClass('active');
                else if (offsetTop < window.scrollY || offsetBottom >= window.scrollY)
                    $(`.nav-link[href="#${elm.id}"].active`).removeClass('active');
            })
        })



        function ShowImageOfDoctor(elm) {
            var src = document.getElementById('about-doctor-picture').src;
            document.getElementById('about-doctor-picture').src = elm.src;
            elm.src = src;
        }
    </script>

</body>
</html>
