@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

    <div class=" control-section">
        <div class="sample-container">
            <!--  Filemanager element declaration -->
            
            <!-- end of filemanager element -->
        </div>
    </div>
}
